FOSU_STUDENT_ID=your_student_id_here
FOSU_PASSWORD=your_password_here
ADMIN_API_TOKEN=your_sync_upload_token_here
ADMIN_TOKEN=your_admin_bearer_token_here
ADMIN_PASSWORD=your_admin_console_password_here
