{
  "openapi": "3.0.0",
  "info": {
    "title": "校园智序 · 小序 — R49-MA Agent Tools (ADP Import)",
    "version": "1.1.0",
    "description": "面向腾讯云智能 ADP「基于 API」自定义插件导入的 import-ready OpenAPI。5 个确定性 Agent Tool 映射到 CampusTools（competition-demo-v2）。动态校园事实全部由确定性服务计算。本文件仅声明 bearer/APIKey 鉴权需求，不包含任何 token；实际 token 在 ADP 控制台配置。"
  },
  "servers": [
    { "url": "https://cloud1-d3g17rpe7566d3d5c-1442900641.ap-shanghai.app.tcloudbase.com/campusflow-adp-tools", "description": "腾讯 CloudBase 比赛 CampusTools HTTP Function 网关（竞争比赛测试实例，鉴权需 Bearer token）" }
  ],
  "tags": [
    { "name": "campus_schedule", "description": "课表/空教室（课程空间 Agent）" },
    { "name": "campus_risk", "description": "风险/日计划（风险规划 Agent）" },
    { "name": "campus_insight", "description": "校园态势（校园洞察 Agent）" }
  ],
  "paths": {
    "/api/query_schedule": {
      "post": {
        "tags": ["campus_schedule"],
        "summary": "查询课表（教师/班级/教室/课程）",
        "operationId": "campus_schedule_query",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScheduleQueryInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/find_available_classrooms": {
      "post": {
        "tags": ["campus_schedule"],
        "summary": "查询空教室",
        "operationId": "campus_classroom_search",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClassroomSearchInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/compare_schedules": {
      "post": {
        "tags": ["campus_risk"],
        "summary": "风险检查：self（单对象）或 compare（双对象）",
        "operationId": "campus_risk_check",
        "description": "self 模式只需 entityType/entityName；compare 模式才需第二对象。绝不允许 self 模式要求第二对象。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RiskCheckInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/generate_day_plan": {
      "post": {
        "tags": ["campus_risk"],
        "summary": "生成演示用户某日计划",
        "operationId": "campus_day_plan",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DayPlanInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/get_campus_teaching_overview": {
      "post": {
        "tags": ["campus_insight"],
        "summary": "校园教学态势（固定窗口）",
        "operationId": "campus_overview",
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OverviewInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    }
  },
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } },
    "schemas": {
      "ScheduleQueryInput": {
        "type": "object",
        "properties": {
          "entityType": { "type": "string", "enum": ["class", "teacher", "room", "course"] },
          "entityName": { "type": "string" },
          "week": { "type": "integer", "minimum": 1, "maximum": 20 },
          "weekday": { "type": "integer", "minimum": 1, "maximum": 7 },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "periodStart": { "type": "integer", "minimum": 1, "maximum": 10 },
          "periodEnd": { "type": "integer", "minimum": 1, "maximum": 10 }
        },
        "required": ["entityType", "entityName"]
      },
      "ClassroomSearchInput": {
        "type": "object",
        "properties": {
          "campus": { "type": "string" },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "week": { "type": "integer", "minimum": 1, "maximum": 20 },
          "weekday": { "type": "integer", "minimum": 1, "maximum": 7 },
          "periodStart": { "type": "integer", "minimum": 1, "maximum": 10 },
          "periodEnd": { "type": "integer", "minimum": 1, "maximum": 10 },
          "minCapacity": { "type": "integer", "minimum": 1 },
          "building": { "type": "string" },
          "consecutivePeriods": { "type": "integer", "minimum": 1, "maximum": 10 }
        }
      },
      "RiskCheckInput": {
        "type": "object",
        "properties": {
          "mode": { "type": "string", "enum": ["self", "compare"], "description": "self=单对象自身风险（默认，无需第二对象）；compare=显式双对象" },
          "entityType": { "type": "string", "enum": ["class", "teacher", "room", "course"] },
          "entityName": { "type": "string" },
          "secondEntityType": { "type": "string", "enum": ["class", "teacher", "room", "course"] },
          "secondEntityName": { "type": "string" },
          "week": { "type": "integer", "minimum": 1, "maximum": 20 },
          "weekday": { "type": "integer", "minimum": 1, "maximum": 7 },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "periodStart": { "type": "integer", "minimum": 1, "maximum": 10 },
          "periodEnd": { "type": "integer", "minimum": 1, "maximum": 10 }
        },
        "required": ["entityType", "entityName"],
        "allOf": [
          {
            "if": { "properties": { "mode": { "const": "compare" } } },
            "then": { "required": ["secondEntityType", "secondEntityName"] }
          }
        ]
      },
      "DayPlanInput": {
        "type": "object",
        "properties": {
          "visitorId": { "type": "string", "description": "演示用户 ID（唯一真源 = competition-demo-v2.json demoUsers[0].id = user-demo-001；ADP 层可固定为隐藏参数，但 API 契约层必须保留本字段以保证正确性）" },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "preferredCampus": { "type": "string" },
          "preferredStudyDuration": { "type": "integer", "minimum": 1, "maximum": 10 }
        },
        "required": ["date"]
      },
      "OverviewInput": {
        "type": "object",
        "properties": {
          "windowStart": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "teachingStart": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "windowEnd": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "queryId": { "type": "string" },
          "dataVersion": { "type": "string", "example": "competition-demo-v2" },
          "resolvedEntity": { "type": "object", "nullable": true },
          "items": { "type": "array" },
          "actions": { "type": "array" },
          "evidence": {
            "type": "object",
            "properties": {
              "dataVersion": { "type": "string" },
              "dataHash": { "type": "string", "example": "sha1:4f3bbbb45d1f" },
              "source": { "type": "string" },
              "verified": { "type": "boolean" }
            }
          },
          "error": { "type": "object", "nullable": true, "properties": { "code": { "type": "string" }, "message": { "type": "string" } } }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }]
}
