{
  "openapi": "3.0.0",
  "info": {
    "title": "校园智序 · 小序 — R49-MA Agent Tools (ADP Import)",
    "version": "1.2.0",
    "description": "面向腾讯云智能 ADP「基于 API」自定义插件导入的 import-ready OpenAPI。5 个确定性 Agent Tool Façade（/api/campus_*）映射到 CampusTools（competition-demo-v2）。动态校园事实全部由确定性服务计算。本文件仅声明 bearer/APIKey 鉴权需求，不包含任何 token；实际 token 在 ADP 控制台配置。"
  },
  "servers": [
    { "url": "https://cloud1-d3g17rpe7566d3d5c-1442900641.ap-shanghai.app.tcloudbase.com/campusflow-adp-tools", "description": "腾讯 CloudBase 比赛 CampusTools HTTP Function 网关（竞争比赛测试实例，鉴权需 Bearer token）" }
  ],
  "tags": [
    { "name": "campus_schedule", "description": "课表/空教室（课程空间 Agent）" },
    { "name": "campus_risk", "description": "风险/日计划（风险规划 Agent）" },
    { "name": "campus_insight", "description": "校园态势（校园洞察 Agent）" }
  ],
  "paths": {
    "/api/campus_schedule_query": {
      "post": {
        "tags": ["campus_schedule"],
        "summary": "查询课表（教师/班级/教室/课程）",
        "operationId": "campus_schedule_query",
        "description": "按实体类型与名称查询指定教学周、星期或日期的课表，支持节次过滤。entityType 仅允许 class/teacher/room/course；entityName 支持口语别名（如 T09 归一化为 教师009）。必须传入 entityType 与 entityName，否则返回 MISSING_PARAM。动态事实由确定性 CampusTools 计算，禁止模型编造课表。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScheduleQueryInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/campus_classroom_search": {
      "post": {
        "tags": ["campus_schedule"],
        "summary": "查询空教室",
        "operationId": "campus_classroom_search",
        "description": "查询指定日期/星期与节次范围内的空闲教室，支持校区、楼栋、最小容量过滤。需提供 date 或 week+weekday 以确定具体星期；periodStart/periodEnd 必填（1-10 节）。空结果返回 success=true 且 items=[]，由 evidence.note=EMPTY_RESULT 标记。动态事实由确定性 CampusTools 计算。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClassroomSearchInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/campus_risk_check": {
      "post": {
        "tags": ["campus_risk"],
        "summary": "风险检查：self（单对象）或 compare（双对象）",
        "operationId": "campus_risk_check",
        "description": "检查单个校园实体自身的时间冲突/跨校区赶场风险，或显式比较两个实体的课表冲突。mode 缺省或为 self 时只需 entityType/entityName，服务端确定性复制 second=first，绝不允许模型生成或要求用户提供第二对象；mode=compare 才要求 secondEntityType/secondEntityName。结果含 summary.selfCompare 与 summary.conflictCount。动态事实由确定性 CampusTools 计算。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RiskCheckInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/campus_day_plan": {
      "post": {
        "tags": ["campus_risk"],
        "summary": "生成演示用户某日计划",
        "operationId": "campus_day_plan",
        "description": "为当前比赛演示用户（demoUsers[0].id = user-demo-001）生成指定日期的校园计划：课程、空闲空档、自习教室建议与跨校区提醒。date 必填；visitorId 可选——未传时服务端只允许确定性使用当前数据源的 demoUsers[0].id，禁止模型猜测或硬编码历史 ID。动态事实由确定性 CampusTools 计算。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DayPlanInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    },
    "/api/campus_overview": {
      "post": {
        "tags": ["campus_insight"],
        "summary": "校园教学态势（固定窗口）",
        "operationId": "campus_overview",
        "description": "确定性汇总 2026-08-25 至 2026-09-27 的校园教学态势：四周负载、校区空间压力、教师负载 Top、全局风险。请求体可为空 {}；所有指标只从当前 competition-demo 匿名数据集派生，禁止模型伪造 TopN 或任何校园事实。",
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OverviewInput" } } } },
        "responses": { "200": { "description": "统一信封", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } } }
      }
    }
  },
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } },
    "schemas": {
      "ScheduleQueryInput": {
        "type": "object",
        "properties": {
          "entityType": { "type": "string", "enum": ["class", "teacher", "room", "course"] },
          "entityName": { "type": "string" },
          "week": { "type": "integer", "minimum": 1, "maximum": 20 },
          "weekday": { "type": "integer", "minimum": 1, "maximum": 7 },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "periodStart": { "type": "integer", "minimum": 1, "maximum": 10 },
          "periodEnd": { "type": "integer", "minimum": 1, "maximum": 10 }
        },
        "required": ["entityType", "entityName"]
      },
      "ClassroomSearchInput": {
        "type": "object",
        "properties": {
          "campus": { "type": "string" },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "week": { "type": "integer", "minimum": 1, "maximum": 20 },
          "weekday": { "type": "integer", "minimum": 1, "maximum": 7 },
          "periodStart": { "type": "integer", "minimum": 1, "maximum": 10 },
          "periodEnd": { "type": "integer", "minimum": 1, "maximum": 10 },
          "minCapacity": { "type": "integer", "minimum": 1 },
          "building": { "type": "string" },
          "consecutivePeriods": { "type": "integer", "minimum": 1, "maximum": 10 }
        },
        "required": ["periodStart", "periodEnd"]
      },
      "RiskCheckInput": {
        "type": "object",
        "properties": {
          "mode": { "type": "string", "enum": ["self", "compare"], "description": "self=单对象自身风险（默认，无需第二对象）；compare=显式双对象" },
          "entityType": { "type": "string", "enum": ["class", "teacher", "room", "course"] },
          "entityName": { "type": "string" },
          "secondEntityType": { "type": "string", "enum": ["class", "teacher", "room", "course"] },
          "secondEntityName": { "type": "string" },
          "week": { "type": "integer", "minimum": 1, "maximum": 20 },
          "weekday": { "type": "integer", "minimum": 1, "maximum": 7 },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "periodStart": { "type": "integer", "minimum": 1, "maximum": 10 },
          "periodEnd": { "type": "integer", "minimum": 1, "maximum": 10 }
        },
        "required": ["entityType", "entityName"],
        "allOf": [
          {
            "if": { "properties": { "mode": { "const": "compare" } } },
            "then": { "required": ["secondEntityType", "secondEntityName"] }
          }
        ]
      },
      "DayPlanInput": {
        "type": "object",
        "properties": {
          "visitorId": { "type": "string", "description": "演示用户 ID（可选）。唯一真源 = competition-demo-v2.json demoUsers[0].id = user-demo-001；未传时由服务端确定性补齐，禁止模型猜测或硬编码历史 ID" },
          "date": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "preferredCampus": { "type": "string" },
          "preferredStudyDuration": { "type": "integer", "minimum": 1, "maximum": 10 }
        },
        "required": ["date"]
      },
      "OverviewInput": {
        "type": "object",
        "properties": {
          "windowStart": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "teachingStart": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" },
          "windowEnd": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "queryId": { "type": "string" },
          "dataVersion": { "type": "string", "example": "competition-demo-v2" },
          "resolvedEntity": { "type": "object", "nullable": true },
          "items": { "type": "array" },
          "actions": { "type": "array" },
          "evidence": {
            "type": "object",
            "properties": {
              "dataVersion": { "type": "string" },
              "dataHash": { "type": "string", "example": "sha1:4f3bbbb45d1f" },
              "source": { "type": "string" },
              "verified": { "type": "boolean" }
            }
          },
          "error": { "type": "object", "nullable": true, "properties": { "code": { "type": "string" }, "message": { "type": "string" } } }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }]
}