CAMPUS_AGENT_ENABLED=true
CAMPUS_AGENT_BROKER_URL=https://agent-broker.katelya.eu.org
CAMPUS_AGENT_ID=wyz-campus-01
CAMPUS_AGENT_TOKEN=<SET_IN_PRODUCTION>
CAMPUS_AGENT_SIGNING_SECRET=<SET_IN_PRODUCTION>
CAMPUS_SYNC_JOB_TTL_SECONDS=120
